*~
/*
/*/
!/3rdparty/
!/benchmarks/
!/artwork/
!/docs/
!/hash/
!/hlsl/
!/keymaps/
!/nl_examples/
!/regtests/
!/samples/
!/scripts/
!/src/
!/shaders/
!/tests/
!/doxygen/
!/web/
!/.gitattributes
!/.gitignore
!/.travis.yml
!/makefile
!/mame.doxygen
!/*.md
/.idea
regtests/chdman/temp
regtests/jedutil/output
*.pyc
/CMakeLists.txt
/src/devices/cpu/m68000/m68kops.cpp
/src/devices/cpu/m68000/m68kops.h
/src/devices/cpu/m68000/m68kmake.*
/src/devices/cpu/m68000/m68kmake
!/src/devices/cpu/m68000/m68kmake.cpp
mame-dev.xcodeproj/project.pbxproj
mame-dev.xcodeproj/project.xcworkspace/contents.xcworkspacedata
mame-dev.xcodeproj/project.xcworkspace/xcshareddata/mame-dev.xccheckout
mame-dev.xcodeproj/project.xcworkspace/xcuserdata/reaganroush.xcuserdatad/UserInterfaceState.xcuserstate
mame-dev.xcodeproj/xcuserdata/reaganroush.xcuserdatad/xcschemes/mame-dev.xcscheme
mame-dev.xcodeproj/xcuserdata/reaganroush.xcuserdatad/xcschemes/xcschememanagement.plist
