*~
/*
/*/
!/3rdparty/
!/artwork/
!/docs/
!/hash/
!/hlsl/
!/keymaps/
!/nl_examples/
!/samples/
!/scripts/
!/src/
!/tests/
!/web/
!/.gitattributes
!/.gitignore
!/.travis.yml
!/makefile
!/mame.doxygen
!/*.md
src/regtests/chdman/temp
src/regtests/jedutil/output
*.pyc
mame-dev.xcodeproj/project.pbxproj
mame-dev.xcodeproj/project.xcworkspace/contents.xcworkspacedata
mame-dev.xcodeproj/project.xcworkspace/xcshareddata/mame-dev.xccheckout
mame-dev.xcodeproj/project.xcworkspace/xcuserdata/reaganroush.xcuserdatad/UserInterfaceState.xcuserstate
mame-dev.xcodeproj/xcuserdata/reaganroush.xcuserdatad/xcschemes/mame-dev.xcscheme
mame-dev.xcodeproj/xcuserdata/reaganroush.xcuserdatad/xcschemes/xcschememanagement.plist
